// main: style.less

@img: "../images/";

@color_1: #FF5500;
@color_2: #FF3D00;
@color_3: #FFFFFF;
@color_4: #666666;
@color_5: #000;
@color_6: #CCCCCCCC;
@color_7: #9A9A9A;
@color_8: #17191C;
@color_9: #F4F5F5;

@breakpoint-NestHubMax: ~"(max-width: 1230px)";
@breakpoint-iPadPro: ~"(max-width: 990px)";
@breakpoint-iPad: ~"(max-width: 768px)";
@breakpoint-mobile: ~"(max-width: 575px)";
@breakpoint-mobileMini: ~"(max-width: 320px)";

/* @media @breakpoint-NestHubMax */