// main: style.less

@font-family-Kaushan: 'Kaushan Script', cursive;
@font-family-Roboto: 'Roboto', sans-serif;

@img: "../images/";

@color_1: #999;
@color_2: #fff;
@color_3: #333;
@color_4: #95e1d3;
@color_5: #e5e5e5;


@breakpoint-NestHubMax: ~"(max-width: 1230px)";
@breakpoint-iPadPro: ~"(max-width: 990px)";
@breakpoint-iPad: ~"(max-width: 768px)";
@breakpoint-mobile: ~"(max-width: 575px)";
@breakpoint-mobileMini: ~"(max-width: 320px)";

/* @media @breakpoint-NestHubMax */