// main: ../style.less

.aboutus {
  margin-bottom: 93px;
}

.aboutus__inner {
  position: relative;
}

.aboutus__card {
  max-width: 785px;
  max-height: 455px;

  background: @color_3;
  border-radius: 5px;

  position: absolute;
  top: 97px;
  left: 354px;
  z-index: 1;
}

.aboutus__card__info {
  display: block;
  padding: 70px 201px 66px 80px;

  color: @color_5;
}

.aboutus__card__title {
  margin-bottom: 37px;

  font-weight: 800;
  font-size: 36px;
  line-height: 1.36;

  text-transform: uppercase;
}

.aboutus__card__text {
  margin-bottom: 43px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.68;
}