// main: ../style.less
.btn {
    display: inline-block;
    vertical-align: top;
    padding: 7px 27px;

    border: solid 3px @color_2;

    color: @color_2;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;

    transition: background-color .2s linear, color .2s linear;
}

.btn:hover {
    background-color: @color_2;
    color: #746634;
}