// main: ../style.less
.btn {
    display: inline-block;

    background: @color_1;
    border-radius: 35px;

    color: @color_3;
    font-family: inherit;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;

    transition: background .2s linear, color .2s linear, box-shadow .2s linear;
}

.btn--start {
    max-width: 168px;
    max-height: 55px;
    padding: 18px 58px;
}

.btn--intro {
    max-width: 195px;
    max-height: 55px;
    padding: 18px 53.5px;
}

.btn--aboutUs {
    max-width: 168px;
    max-height: 55px;
    padding: 18px 40px;
}

.btn:hover {
    color: rgba(255, 255, 255, 0.884);
    background: @color_2;
    box-shadow: 0px 4px 7px rgba(218, 1, 0, 0.3);
}

.btn--card {
    display: inline-block;
    max-width: 198px;
    max-height: 55px;
    padding: 18px 54px;

    background: transparent;
    border-radius: 35px;
    border: 2px solid @color_1;

    color: @color_1;
    font-family: inherit;
    font-size: 14px;
    font-weight: 700;
    line-height: 1;
    text-transform: uppercase;
    text-decoration: none;

    transition: background .2s linear, color .2s linear, box-shadow .2s linear;
}

.btn--card:hover {
    color: rgba(255, 255, 255, 0.884);
    background: @color_1;
    box-shadow: 0px 4px 7px rgba(218, 1, 0, 0.3);
}

.btn__checkbox {
    display: inline-block;
    padding: 9px 15px;

    background: #E7E7E7;
    border-radius: 35px;

    color: #303030;
    font-family: inherit;
    font-weight: 400;
    font-size: 13px;
    line-height: 1.38;
    cursor: pointer;
}

.btn--form--resset {
    background: #8E8E8E;
    padding: 18px 44px;
}

.btn--form--resset:hover {
    color: rgba(255, 255, 255, 0.884);
    background: #2B2B2B;;
    box-shadow: 0px 4px 7px rgba(31, 28, 28, 0.3);
}

.btn--form--submit {
    padding: 18px 41px;
}