// main: ../style.less

.card {
    display: flex;
    justify-content: space-between;

    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -259px;
    z-index: 1;
}

.card__item {
    width: 362px;
    height: 476px;

    box-sizing: border-box;
    display: block;
    margin: 0 13.5px;

    background: @color_3;
    border-radius: 5px;
    border: 5px solid transparent;

    transition: border .2s linear;
}

.card__item:hover {
    border: 5px solid @color_6;
}

.card__img {
    display: block;
    margin: 36px 0 30px 29px;
}

.card__info {
    display: block;
    margin-left: 22px;
    color: @color_4;
}

.card__info-title {
    margin-bottom: 17px;

    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 1.375;
    color: @color_5;
}

.card__info-subtitle {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
}

.info-subtitle__item {
    margin-right: 74px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.25;

    span {
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 1.25;
        color: @color_5;
    }
}

.info-subtitle__item:last-child {
    margin-right: 20px;
}

.card__info-text {
    padding-right: 34px;
    margin-bottom: 29px;
    line-height: 1.57;
    color: @color_4;
}