// main: ../style.less

.cards__services__content {
    margin-bottom: 180px;
}

.card {
    display: flex;
    z-index: 1;
    gap: 27px;
}

.card__item {
    width: 362px;

    box-sizing: border-box;
    display: block;

    background: @color_3;
    border-radius: 5px;
    border: 5px solid transparent;

    transition: border .2s linear;

    img {
        vertical-align: top;
    }
}

.card__item:hover {
    border: 5px solid @color_6;
}

.card__img {
    display: block;
    padding: 36px 24px 0;
}

.card__info {
    display: block;
    padding: 24px 24px 49px 22px;
    color: @color_4;
}

.card__info__title {
    margin-bottom: 15px;
    font-weight: bold;
    font-size: 32px;
    line-height: 1.375;
    color: @color_5;
}

.card__info__subtitle {
    display: flex;
    justify-content: space-between;
    margin-bottom: 27px;
    gap: 70px;
    font-size: 16px;
    line-height: 1.25;

    span {
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 1.25;
        color: @color_5;
    }
}

.card__info__text {
    margin-bottom: 30px;
    line-height: 1.57;
    color: @color_4;
    overflow: hidden;
}