// main: ../style.less

.card {
    display: flex;
    justify-content: space-between;

    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -259px;
    z-index: 1;
}

.card__item {
    display: block;
    margin: 0 13.5px;
    width: 362px;
    height: 476px;

    background: @color_3;
    border-radius: 5px;
}

.card__info {
    color: #666666;
}

.card__info-title {
    color: #000;
}

.card__info-subtitle {
    
    span {
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 125%;
        color: #000;
    }
}