// main: ../style.less
.discounts {
  margin-bottom: 152.5px;
  position: relative;
}

.discounts__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.36;
  text-transform: uppercase;
  margin-bottom: 51px;
}

.discounts__background {
  position: absolute;
  top: 50%;
  left: 0;
  z-index: -2;
}