// main: ../style.less

.partners {
  padding: 88px 0 100px;
  background-color: #F4F5F5;
}

.partners__title {
  margin-bottom: 82px;
  font-weight: 700;
  font-size: 48px;
  line-height: 1.354;

  color: #1A1B1E;
}

.partners__inner {
  display: flex;
  flex-wrap: wrap;
  gap: 63px 0;
}

.partners__item {
  width: 25%;
}

.partners__item:nth-child(2) {
  padding-top: 11px;
  padding-left: 82px;
}

.partners__item:nth-child(3) {
  padding-left: 75px;
}

.partners__item:nth-child(4) {
  padding-left: 107px;
}

.partners__item:nth-child(7) {
  padding-left: 19px;
}

.partners__item:nth-child(8) {
  padding-left: 71px;
}

.partners__link {
  text-decoration: none;
  filter: grayscale(100%);
  transition: filter .2s linear,
}

.partners__link:hover {
  filter: grayscale(0);
}




