// main: ../style.less

.slideshow__container {
  width: 1164px;
  overflow: hidden;
  margin-bottom: 53px;
}

.slideshow__track {
  display: flex;
  transition: .2s linear;
}

.slideshow__item {
  /* min-width: 50%; */
  height: 100%;
}

.slideshow__buttons {
  text-align: center;
}
