// main: ../style.less

.slideshow__container {
  overflow: hidden;
  margin-bottom: 53px;
}

.slideshow__track {
  display: flex;
  transition: .2s linear;
}

.slideshow__item {
  min-width: 50%;
  height: 394px;
  margin-right: 11px;
}

.slideshow__buttons {
  text-align: center;
}
