// main: ../style.less
.start {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100vh;
    text-align: center;
    position: relative;

    background: #17191C url("@{img}/start/bg.jpg") center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

.start__photo {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 1;
}

.start__inner {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 1000;
}

.start__logo {
    margin-bottom: 20px;
}